#section {
    background-color: #f5efea;
    margin: 10vh 0 0;
    padding: 1.875rem 0 0 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 25rem; 
    padding: 1rem;
    box-sizing: border-box;
    flex-grow: 1;
}

h2 {
    text-align: center;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#signin, #login {
    display: none;
    flex-direction: column;
    gap: 1rem;
}

input {
    background-color: #f5efea;
    color: #333;
    font-size: 1rem;
    font-family: PlayfairDisplay-Regular;
    padding: 0.75rem 0;
    border: none;
    border-bottom: solid 0.0625rem #6B8E23;
}

input:focus {
    border-bottom-color: #6B8E23;
    outline: none;
}

p a {
    transition: .3s ease;
}

p a:hover {
    color: #6B8E23;
}

.error {
    color: #8E2323; 
    font-weight: bold;
    margin-bottom: 0;   
}

.success {
    color: #6B8E23; 
    font-weight: bold;
    margin-bottom: 0;  
}
